// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#draggable {
	background-color: gray;
	width: 100px;
	height: 100px;
}

#droppable {
	background-color: lightGray;
	width: 150px;
	height: 200px;

}
